@font-face {
	font-family: 'CyberpunkWaifus';
	src: url('../fonts/CyberpunkWaifus.woff') format('woff'); /* Pretty Modern Browsers */
}

html, body, h1, h2, h3, h4, h5, h6{
	/* font-family: 'Advent Pro', sans-serif; */
	font-family: 'CyberpunkWaifus', Fallback, sans-serif;
	font-size: 20px;
	background: #000;
}

.feed{
	word-break: break-word;
}

h2{
	font-size: 30px;
}

.nopad{
	padding: 0;
	margin: 0;
}

textarea {
	resize: vertical;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
}

.sticky + .content {
	padding-top: 102px;
}

.image-upload img
{
	width: 80px;
	cursor: pointer;
}

.email_pref{
	text-decoration: underline;
	cursor: pointer;
}

.burger{
	z-index: 2;
	position: fixed;
	right: 0;
}

.sidebar{
	display: none;
}

#sidebar{
	z-index: 3;
}

@media (max-width: 993px){
	.sidebar{
		display: block;
	}
}

@media (max-height: 840px){
	.w3-display-middle{
		position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%);
	}

	.hideme{
		display: none;
	}

	#header{
		display: none;
	}

	div{
		display: block;
	}

	.w3-hide-large{
		display: block;
	}

	.sidebar{
		display: block;
	}
}
