html{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background: rgb(245, 245, 245);

}
body{
	width: 80%;
	margin: auto;
}

/*Header*/
.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 0.5px solid #111;
	background: white;;
}

.header a{
	padding: 25px;
	text-decoration: none;
	font-size: 2rem;
	color: #020202;
}

.header a:visited{
	color: #01010101;
}


.body{
	margin-top: 50px;
	background: aliceblue;
}
